<!DOCTYPE html>
<html>

<head>
    <title>About</title>
        <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by amirhossein
            from mapbox.com and darksky
        </p>

        <img class="portrait" src="/img/pic1.png" alt="">
        <p>
            Hi I'm amirhossein and I'm developper I'm glad to be here and talk to you
            <br>
        </p>

    </div>
    {{>footer}}
</body>

</html>